* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;  /* Prevents Webkit platforms from changing default font sizes. */
	-ms-text-size-adjust: none; /* Prevents Windows Mobile platforms from changing default font sizes. */
}

table {	
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;	
	mso-table-lspace: 0pt; /* Outlook Desktop floated table spacing fix */
	mso-table-rspace: 0pt; /* Outlook Desktop floated table spacing fix */
}
th, td {
    padding: 0;
    border-width: 0;
    border-style: none;
    vertical-align: middle;
}
p {
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    background-color: #f4f3f4;
}
table.container {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}
table.headliner {
    width: 100%;
}
table.pre-content {
    margin-top: 10px;
    margin-bottom: 10px;
}
p.pre-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #aaaaaa;
    text-align: center;
}
tr.heading {
    width: 100%;
    background-color: #333333;
    font-size: 32px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
tr.heading p {
    padding-left: 10px;
}


tr.box {
    position: relative;
    display: inline-block;
}
.box .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 63%;
    right: 0;
    text-align: left;
    top: 10%;
    background: #f4f3f4;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 182px;
    height: 154px;
}
button.more {
    padding: 8px 15px 8px;
    background-color: #333333;
    color: #e0e0e0;
    border: none;
    margin-left: 22px;
    margin-top: 8px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
p.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-left: 22px;
    padding-top: 8px;
}
p.head-subtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 22px;
    padding-top: 2px;
    line-height: 130%;
}


.column-1, .column-2 {
    margin-top: 15px;
}
th.col-2 {
    width: 50%;
    text-align: left;
}
p.article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    padding-left: 15px;
}
p.article-text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 150%;
    padding-left: 15px;
    padding-right: 10px;
}

th.col-3 {
    width: 25%;
    text-align: center;
}
table.items {
    margin-top: 30px;
}
p.item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
p.item-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 150%;
}
p.item1, p.item2, p.text1, p.text2 {
    border-right: 1px black solid;
}

table.footer {
    margin-top: 20px;
    margin-left: 30px;
    border-top: 1px lightgray solid;
}
td.socials {
    text-align: center;
}
td.socials img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.post-content {
    margin-top: 15px;
}
p.post-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #aaaaaa;
    text-align: left;
    background-color: #f4f3f4;
}

@media only screen and (max-width: 500px) {
     table.container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        min-width: 50%;
        max-width: 50%;
    }
    img.snow {
        height: 185px;
    }
    .box .text {
        left: 10%;
        right: 20%;
        top: 8%;
    }

    .col-2 {
		display: block;
    }
    img.ski, img.resort {
        width: 400px;
    }

    table.article {
        width: 400px;
    }
    p {
        width: 100%;
        border: none !important;
    }

    .col-3 {
        display: block;
        width: 100% !important;
        text-align: center;
    }
    table.item-1, table.item-2, table.item-3 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    p.text1, p.text2, p.text3 {
        margin-left: auto;
        margin-right: auto;
        width: 170px;
    }

    table.footer {
        border: none;
        margin-bottom: 10px;
    }

}